$sf : 'SF Pro Display Regular';
$apercu : 'Apercu Regular';

html, body {
    margin: 0;
    padding: 0;
    font-family: $sf;
    height: 100vh;
}

// Landing page

.login-container {
    display: flex;
    height: 100%;
}

.login-aside {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/husniati.jpg);
    background-size: cover;
    background-position: center;
    color: white;

    h2 {
        font-weight: bold;
        font-size: 3em;
        letter-spacing: 2px;
        text-align: center;
    }

    p {
        font-family: $apercu;
        font-size: 1.2em;
        margin: 5px;
        text-align: center;

        &:nth-child(2) {
            margin-top: 20px;
        }
    }
}

.login-form {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-family: $apercu;

    h5 {
        font-family: $sf;
        font-size: 2.8em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }

    .form-footer {
        margin-top: 50px;
        margin-bottom: 5px;
    }

    .form-group label {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 13px;
    }
    .login-container {
        flex-direction: column;

        .login-aside {
            padding: 20px;
            height: 250px;

            p {
                text-align: center;
            }
        }

        .login-form {
            margin-top: 50px;
        }
    }

    .login-container > div {
        width: 100%;
    }
}